<section class="no-padding" id="artists">
    <div class="container-fluid">
        <div class="row no-gutter">
            {{ range .Site.Data }}
            {{ if eq .category "bio" }}
            <div class="col-lg-2 col-sm-3">
                <a href="#modal{{ replace .name " " "" }}" class="portfolio-box portfolio-link" data-toggle="modal">
                    <img src="img/{{ .img }}" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                {{ .name }}
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {{ end }}
            {{ end }}
        </div>
    </div>
</section>
