<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    <head>
        {{ partial "head.html" . }}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    </head>
    <script>
        window.onload = function() {
            // for permanent urls
            var url = window.location.href;
            if (url.indexOf("#modal") > -1){
                var els = document.getElementsByTagName("a");
                for (var i = 0, l = els.length; i < l; i++) {
                    var el = els[i];
                    if (el.href === url) {
                        el.click();
                    }
                }
            }

            // slider for text
            $('#about-more').click(function() {
                console.log('ssss');
                $header = $(this);
                $content = $("#about-all");
                $content.slideToggle(500, function() {
                    $header.text(function () {
                        return $content.is(":visible")?('↖'):('↘');
                    });
                });
            });
        }
    </script>
    <body id="page-top">
        {{ partial "nav.html" . }}
        {{ partial "hero.html" . }}
        <br />
        {{ partial "aside.html" . }}
        <hr />
        {{ partial "projects.html" . }}
        <hr />
        {{ partial "bios.html" . }}
        {{ partial "modals.html" . }}
        {{ partial "js.html" . }}
    </body>
</html>
